@*@{
        ViewBag.Title = "About";
    }

    <h2>@ViewBag.Title</h2>*@
<br />
<img src="~/Helpers/Images/Marshall Logo smaller.jpg" />
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
