@*@{
    @ViewBag.Title = "Contact";
}*@
@*<h2>@ViewBag.Title.</h2>*@
<br />
<img src="~/Helpers/Images/Marshall Logo smaller.jpg" />
<h2>@ViewBag.Message</h2>

<address>
    Huddersfield Road<br />
    Elland, West Yorkshire HX5 9BW<br />
    <abbr title="Phone">P:</abbr>
    01422.375533
</address>

<address>
    <strong>IT Support:</strong>   <a href="mailto:psmith@mcwy.co.uk">psmith@mcwy.co.uk</a><br />
    <strong>Guidance:</strong> <a href="mailto:csharp@marshallbuildingcontractors.com">csharp@marshallbuildingcontractors.com</a>
</address>