
@{
    ViewBag.Title = "Drawing Register";
}

<h2>Drawing Register</h2>



@using (Html.BeginForm())
{

    <form role="search">
        <div class="form-group">
            <input type="text" placeholder="Which Drawing" class="form-control">
        </div>
    </form>

}



